export STAGE=dev
export SENTRY_DSN_KEY=changeme-teamvault-sentry-dsn-key
export SENTRY_PROXY_URL=http://sentry-proxy.quant.svc.cluster.local:8080
export LOGLEVEL=0
export RANDOM=$$(date +%s)
export KAFKA_BROKERS=localhost:9092
export SKELETON_PORT=8080
export DOCKER_REGISTRY=docker.io
export IMAGE=bborbe/recurring-task-creator
export CLUSTER_CONTEXT=test
